<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="col-12">
        <p class="title">'Count'aurus Galaxy</p>
      </div>
      <div class="col-12">
        <img src="assets/images/media/image5.png" alt="">
      </div>
    </div>
    <div class="col-6">
      <div class="col-12">
        <button class="btn btn-primary btn-play" (click)='playAgain()' >
          <span class="btn-play-txt">Play Again</span>
          <img class="img1" src="assets/images/media/image3.png" alt=""> <span class="btn-play-txt"> X 5</span>
        </button>
      </div>
      <div class="col-12">
        <button class="btn btn-success btn-next" (click)='nextMission()'>
          <span class="btn-next-txt">Next Mission</span>
          <img  class="img2" src="assets/images/media/image9.png" alt=""> </button>
      </div>
    </div>
  </div>
</div>