<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="col-12">
        <p class="title">'Count'aurus Galaxy</p>
      </div>
      <div class="col-12">
        <img src="assets/images/media/image5.png" alt="">
      </div>
    </div>
    <div class="col-6">
      <div class="col-12 score-board">
        <h2 class="score-title"> Your Score </h2>

        <div>
          <span class="btn-play-txt"> {{userScore}} X </span>
          <img class="img1" src="assets/images/media/image3.png" alt="">
        </div>
          
        
      </div>

    </div>
  </div>
</div>