

<div class="module1-intro">
  <!-- <button class="btn btn-primary btn-help" (click)=help()> help </button> -->
  <h1 class="module1-title"> Level 1 </h1>
  <div class="module1-earning">
    <img src="/assets/images/module1/icon1.png" alt="" class="icon1">
  </div>
  <button class="btn btn-success btn-play" (click)='scoreGlobal()'> <span class="txt1"> &#9819; Score </span> </button>
  <button class="btn btn-success btn-play" (click)='playModule1()'><span class="txt1"> Play Game </span> <img src="/assets/images/media/image6.png" alt="" class="icon2"> </button>
</div>
