
<!-- <div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1> 'Count'aurus Galaxy </h1>
      <button [@heroState]="state" (click)="toggleState()" class="btn btn-success"> <h2 class="play-now"> Play Now! </h2> </button>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="col-12">
        <p class="title">'Count'aurus Galaxy</p>
      </div>
      <div class="col-12">
        <img class="img5" src="assets/images/media/image5.png" alt="">
      </div>
    </div>
    <div class="col-6">
      <div class="col-12">
        <h2 class="heading2"> Counting 'Ones' and 'Tens' on Countaurus Galaxy </h2>

        <button class="btn btn-primary btn-play" [@heroState]="state" (click)="toggleState()">
          <span class="btn-play-txt"> Start </span>
          <img class="img1" src="assets/images/media/image3.png" alt="">
          <span class="btn-play-txt"> X 5</span>
        </button>
      </div>

    </div>
  </div>
</div>